<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Details</title>
</head>
<body>
        <h1>Book Details</h1>
        <p>Title: {{ book.title }}</p>
        <p>Price: {{ book.price }}</p>
        <p>Genre: {{ book.genre }}</p>
        <p>Publishing Date: {{ book.publishing_date }}</p>
        <figure>
            <img src="{{ book.image_url }}" alt="{{ book.title }}">
        </figure>

</body>
</html>