<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books List</title>
</head>
<body>

<h1>Reviews list</h1>
    {% for review in reviews %}
        <li>
            {{ review.author }} - {{ review.body }} - {{ review.rating }} - {{ book.price }}
            {% if review.pk %}
                <a href="{% url 'review_details' review.pk %}" class="btn-style">
                    View Details
                </a>
            {% else %}
                <span style="color: red;">(Missing Primary Key)</span>
            {% endif %}

        </li>
    {% endfor %}

</body>
</html>