{% load static %}
{% load time_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>{% block title %} {{ page_title }} {% endblock %} </title>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid px-5">
        <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'books:home' %}">
            <img src="{% static 'logo.png' %}" alt="logo" height="60" width="60">
            <span class="fw-bold">Book Home</span>
        </a>

        <nav class="navbar-nav ms-auto d-flex flex-row gap-4">
            <a class="nav-link text-white" href="{% url 'books:books_list' %}">Books</a>
            <a class="nav-link text-white" href="{% url 'books:book_create' %}">Create Book</a>
            <a class="nav-link text-white" href="{% url 'reviews' %}">Reviews</a>
        </nav>
    </div>
    </header>

    <main class="container my-4">
        {% block content %}

        {% endblock %}
    </main>

</body>

<footer>
    {% current_time %}
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</html>