
<header>
    <nav class="main-menu">
        <ul>
            <li class="item"><a href="#">Welcome</a></li>

            <li class="item"><a href="#">News</a></li>

            <!-- Dropdown item -->
            <li class="item dropdown">
            <a href="#">Menu</a>

            <!-- Dropdown panel -->
            <div class="pannele">
                <div class="container-sub-menu">
                    <ul class="sub-menu">
                        <h3><li class="carte"><a href="#">La grande carte 2</a></li></h3>
                        <li class="item-panneau"><a href="#">Entrees</a></li>
                        <li class="item-panneau"><a href="#">Plats</a></li>
                        <li class="item-panneau"><a href="#">Desserts</a></li>
                    </ul>
                    <figure>
                        <img src="../img/menu-04.jpg">
                    </figure>
                </div>

                <div class="container-sub-menu">
                    <ul class="sub-menu">
                        <h3><li class="carte"><a href="#">La petite carte 2</a></li></h3>
                        <li class="item-panneau"><a href="#">Entrees</a></li>
                        <li class="item-panneau"><a href="#">Plats</a></li>
                        <li class="item-panneau"><a href="#">Desserts</a></li>
                    </ul>
                    <figure>
                        <img src="../img/menu-05.jpg">
                    </figure>
                </div>

                <div class="container-sub-menu">
                    <ul class="sub-menu">
                        <h3><li class="carte"><a href="#">A emporter</a></li></h3>
                        <li class="item-panneau"><a href="#">Entrees</a></li>
                        <li class="item-panneau"><a href="#">Plats</a></li>
                        <li class="item-panneau"><a href="#">Desserts</a></li>
                    </ul>
                    <figure>
                        <img src="../img/menu-06.jpg">
                    </figure>
                </div>
            </div>
            </li>


            <li class="item"><a href="#">From the Chef</a></li>

            <li class="item"><a href="#">Reviews</a></li>

            <li class="item"><a href="#">Contacts</a></li>
        </ul>
    </nav>
</header>
